
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script src="https://use.fontawesome.com/062333f734.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>My Qur'an Journey</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <script src="app.js"></script>
  

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/animate.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <style> .white{color: white !important} </style>

  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">

  <script src="/js/modernizr-2.7.1.js"></script>
  
</head>


<body>


  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="index.html"> <p class="white">My Qur'an Journey</p> </a>
        <!-- <a class="logo" href="index.html"> <a>My Qur’ān Journey</a> -->
        
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#reviews" class="scroll">Reviews</a></li>
          <!-- <li><a href="#">Sign in</a></li> -->
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
      
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a href="index.html"><h2 class="wow fadeIn">MQJ</h2></a>
        </div>
        <div class="col-xs-6 signin text-right navbar-nav">
          <a href="#pricing" class="scroll">Words from sojourners</a> 
          <!-- &nbsp; &nbsp;<a href="#">Sign in</a> -->
        </div>
      </div>
      
      <div class="row header-info">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1 class="wow fadeIn">My Qur'an Journey</h1>
          <br />
          <p class="lead wow fadeIn" data-wow-delay="0.5s">Journeying down the gardens beneath which flow<br>
          rivers of milk, rivers of whine, rivers of honey</p>
          <br />
            
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <div class="row">
                <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                  <a href="#be-the-first" class="btn btn-secondary btn-lg scroll">Tell me More</a>
                </div>
                <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                  <a href="#invite" class="btn btn-primary btn-lg scroll">Get Started!</a>
                </div>
              </div><!--End Button Row-->  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </header>
  
  <div class="mouse-icon hidden-xs">
      <div class="scroll"></div>
    </div>
  
  <section id="be-the-first" class="pad-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
          <h2>Dear Beloved..</h2>
          <p >Your Lord has made the Qur’ān so easy for you to learn. When we learn the Qur’ān we lighten up our lives; we get elevated from a lowly earth to a higher companionship whereof we enjoy the company of angels. As the Prophet says, one who recites the Qur’ān as it was revealed is in the company of noble angels.
            Therefore, it is with all pleasure that we invite you to join us in this light-filled journey where striving Muslims and Muslimas get to learn the Qur’ān affordable fees with flecks of fun and ease.
            
            Join us in this journey!</p>
        </div>
      </div>
      
      <div class="iphone wow fadeInUp" data-wow-delay="1s">
        <img src="/images/iphone.png">
      </div>
    </div>
  </section>
  
  <section id="main-info" class="pad-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
          <hr class="line purple">
          <h3>Book an evaluation</h3>
          <p>One of our highly skilled instructors will gauge your knowledge and proficiency level and interpret your needs for learning.
          </p>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
          <hr  class="line blue">
          <h3>Review your evaluation</h3>
          <p>You’ll receive your full evaluation report within 24 hours outlining your areas of strength and weakness; along with a detailed study plan and the name of your instructor, class timings and other relevant information.</p>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
          <hr  class="line yellow">
          <h3>Start enjoying the journey</h3>
          <p>Start enjoying the journey: Your lessons will begin on your nominated start date.            </p>
        </div>
      </div>
    </div>
  </section>
      
      
  <!--Review Section 1-->
  <section class="pricing pad-top-lg review-row-one">
    <div class="container">
      <div class="">
        <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-bottom: 5%;">
          <h2 class="white">Reviews</h2>
          <!-- <p class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, id.</p> -->
          <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.</p>
        </div>
        <br>
      </div>
      <br>

      
      <div class="">
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
          <br />
          <ul class="list-unstyled pricing-table text-center review-box">
            <!-- <li class="headline"><h5 class="white">Aish Dol</h5></li> -->
            <li class="price headline"><div class="amount"><small>Aish Dol</small></div></li>
            <li class="info">After close to one hour of having a class with MQJ, I realized more than enough. I also understood that I had so much power, like you and everyone else. That power is what Allah has blessed man with - the power to seek knowledge. From what the Ustadh said, I realized too that constant repetition of verses is the key to a perfect recitation. Now I want more classes and I implore you to also give MQJ a try. It's too affordable to ignore.</li>
            <hr>
            <hr>
          </ul>
        </div>
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
          <ul class="list-unstyled pricing-table text-center review-box">
            <li class="price headline"><div class="amount"><small>Abu Aishah</small></div></li>
            <li class="info">For years now I've always wantedd to go back to madrasah. I've always had it in my subconscious to learn the Qur'an but alas my tight schedule and procrastination had always had the best of me. 
              However, this past week I stumbled on MQJ on one of the Islamic groups that I follow. I decided to give it a try. Alhmadulillah, after just two sessions with MQJ I believe I made the right decision bacause of the rich content and ease of learning from home.
               Now I am looking forward to the next session earnestly....Alhamdulillah.</li>
               <hr>
            <hr>
            <hr>
          </ul>
        </div>
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
          <br />
          <ul class="list-unstyled pricing-table text-center review-box">
            <li class="price headline"><div class="amount"><small>Ummu Abdi Zhohir</small></div></li>
            <li class="info">I’ve always wanted to improve my tajwēd but I’ve been very skepticalabout_ _learning in front of an audience. This online class was just what I needed. Alhamdulillah, after the first class, I’m convinced I made the right decision..the method of teaching is simple but precise.                                                                                 </li>
            <br>
            <br>
            <hr>
            <hr>
            <hr>
          </ul>
        </div>

      </div>  
      
    </div>
  </section>




      
  <!--Review Section 2-->
  <section class="pricing pad-btm-lg class="">
    <div class="container">
      
      <div class="">
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
          <br />
          <ul class="list-unstyled pricing-table text-center review-box">
            <!-- <li class="headline"><h5 class="white">Aish Dol</h5></li> -->
            <li class="price headline"><div class="amount"><small>Aish Dol</small></div></li>
            <li class="info">After close to one hour of having a class with MQJ, I realized more than enough. I also understood that I had so much power, like you and everyone else. That power is what Allah has blessed man with - the power to seek knowledge. From what the Ustadh said, I realized too that constant repetition of verses is the key to a perfect recitation. Now I want more classes and I implore you to also give MQJ a try. It's too affordable to ignore.</li>
            <hr>
            <hr>
          </ul>
        </div>
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
          <ul class="list-unstyled pricing-table text-center review-box">
            <li class="price headline"><div class="amount"><small>Abu Aishah</small></div></li>
            <li class="info">For years now I've always wantedd to go back to madrasah. I've always had it in my subconscious to learn the Qur'an but alas my tight schedule and procrastination had always had the best of me. 
              However, this past week I stumbled on MQJ on one of the Islamic groups that I follow. I decided to give it a try. Alhmadulillah, after just two sessions with MQJ I believe I made the right decision bacause of the rich content and ease of learning from home.
               Now I am looking forward to the next session earnestly....Alhamdulillah.</li>
               <hr>
            <hr>
            <hr>
          </ul>
        </div>
        
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
          <br />
          <ul class="list-unstyled pricing-table text-center review-box">
            <li class="price headline"><div class="amount"><small>Ummu Abdi Zhohir</small></div></li>
            <li class="info">I’ve always wanted to improve my tajwēd but I’ve been very skepticalabout_ _learning in front of an audience. This online class was just what I needed. Alhamdulillah, after the first class, I’m convinced I made the right decision..the method of teaching is simple but precise.                                                                                 </li>
            <br>
            <br>
            <hr>
            <hr>
            <hr>
          </ul>
        </div>
      
    </div>
  </section>





  
  
  <section id="invite" class="pad-lg light-gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <i class="fa fa-envelope-o margin-40"></i>
          <h2 class="black">Join us in this journey!</h2>
          <br />
          <!-- <p class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.</p> -->
          <br />
          
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <form role="form">
                <div class="form-group">
                  <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email"> -->
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Bismillah</button>
              </form>
            </div>
          </div><!--End Form row-->

        </div>
      </div>
    </div>
  </section>
  
  <!-- <section id="press" class="pad-sm">
    <div class="container">
      
      <div class="row margin-30 news-container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.8s">
          <a href="#" target="_blank">
          <img class="news-img pull-left" src="img/press-01.jpg" alt="Tech Crunch">
          <p class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.<br /> 
          <small><em>Tech Crunch - January 15, 2015</em></small></p>
          </a>
        </div>
      </div>
      
      <div class="row margin-30 news-container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="1.2s">
          <a href="#" target="_blank">
          <img class="news-img pull-left" src="img/press-02.jpg" alt="Forbes">
          <p class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut. <br /> 
          <small><em>Forbes - Feb 25, 2015</em></small></p>
          </a>
        </div>
      </div>
      
    </div>
  </section>
  
  
  <footer>
    <div class="container">
      
      <div class="row">
        <div class="col-sm-8 margin-20">
          <ul class="list-inline social">
            <li>Connect with us on</li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        
        <div class="col-sm-4 text-right">
          <p><small>Copyright &copy; 2014. All rights reserved. <br>
            Created by <a href="http://visualsoldiers.com">Visual Soldiers</a></small></p>
        </div>
      </div>
      
    </div>
  </footer> -->
  
  
  <!-- Javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

 
  </body>
  
  <!-- <script src="/js/logic.js"></script> -->

</body>
</html>